.headerpic-wrapper{
  background: #15aee8 !important;
}

body{
  background: #f2fcff !important;
}

#header img {
  margin: auto !important; 
  width: 200px;
}
.contact-form-widget{
  line-height: 2px;
}
#menu ul.menus{
  width: auto;
}
#footer{
  background: #f2fcff !important;
}
